<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
    <h1>Site not currently available</h1>
    <p>This site is currently on maintenance. Sorry for the inconveniences. We'll be back soon.</p>
    {{> footer}}
</body>
</html>